.header{ 
    color:red;
    font-family: 'Rokkitt'

.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    border-radius: 0em;
    display: inline;
}

/*
.main {
    margin-top: 20em;
}
*/

.header-image {
    background-image: url("https://wallpaperplay.com/walls/full/1/d/3/324370.jpg");
    width: 100%;
    height: 40em;
    opacity: 0.8;
}

/*This part isn't working*/
div.header-image {
    text-align: center;
    color: white;
    vertical-align: top;
    margin-top: 
}